.thumb{
	height: 240px;
}
.customDiv{
	height: 111px;
}
.card-content{
	overflow: hidden;
}
.card-image{
	position: relative;
}
.date{
	width: 60px;
	height: 70px;
	position: absolute;
	background-color: #2f9da4;
	z-index: 25;
	color: white;
	opacity: 0.8;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	padding: 3px;

}
a{
	margin: 0;
	padding: 0;
	color: black;
	text-decoration: none;
}
a:active{
	margin: 0;
	padding: 0;
	color: darkblue;
	text-decoration: none;
}
.card .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px;
}
.newsWrapper{
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.imageWrapper{
	height: auto;
}
.textWrapper{
	height: auto;

}
img{
	width: 100% !important;
}
h2{
	color: #13317f;
}